/* Basic Structure */
* {
  box-sizing: border-box;
}

:root {
  --header-font: "Lobster", cursive;
  --general-text-font: "Open Sans", sans-serif;
  --bg-color: lightsalmon;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

li {
  list-style-type: none;
}
